:root {
    --cor-fonte-principal: #FFFFFF;
    --cor-background-principal: #445c5c;
    --cor-botao: #6703b8;
}

*{
    color: var(--cor-fonte-principal);
    font-family: 'arial', sans-serif;
}

body {
    margin:0;
    background-color: var(--cor-background-principal);
}

.cabecalho__principal {
    margin: 0;
    padding: 0;
    background-color: var(--cor-botao);
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.imagem__cabecalho {
    width: 140px;
}

.titulo__principal {
    background-color: var(--cor-botao);
    font-size: 50px;
    margin: 0;
}

.apresentacao__projeto {
    margin: 20px 20px;
}

.campo__busca {
    margin: 20px 20px;
    text-align: center;
}

.input__busca {
    color: var(--cor-botao);
    font-size: 30px;
    box-shadow: none;
    outline: 0;
    border: 0;
    border-bottom: 1px solid var(--cor-fonte-principal);
    border-radius: 10px;
    width: 600px;
}


.input__busca::placeholder {
    color: var(--cor-fonte-principal);
}

.botao__busca {
    background-color: var(--cor-botao);
    color: var(--cor-fonte-principal);
    border: 0;
    font-size: 20px;
    padding: 15px 15px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    margin: 10px 0;
    border-radius: 10px;
    
}

.mensagem__alerta {
    display: block;
    font-size: 20px;
    margin: 20px 0; 
    text-align: center;
}

.ajax__section {
    background-color: var(--cor-background-principal);
}

.dados__climaticos--cidades {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.dados__cidade {
    background-color: var(--cor-fonte-principal);
    color: var(--cor-background-principal);
    border-radius: 10px;
    margin: 20px 20px 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.nome__cidade {
    background-color: var(--cor-fonte-principal);
    color: var(--cor-background-principal);
    display: block;
    text-align: center;
    grid-column: span 2;

}

.cidade {
    background-color: var(--cor-fonte-principal);
    color: var(--cor-background-principal);
    display: inline-block;
}

.abrev__pais {
    background-color: var(--cor-botao);
    color: var(--cor-fonte-principal);
    display: inline-block;
    padding: 5px 8px;
    border-radius: 8px;
    font-size: 10px;
}

.temperatura__cidade {
    background-color: var(--cor-fonte-principal);
    color: var(--cor-background-principal);
    font-size: 60px;
    display: block;
    text-align: center;
    margin: 5px 10px;
}

.celsius__simbolo {
    background-color: var(--cor-fonte-principal);
    color: var(--cor-background-principal);
}

figure {
    background-color: var(--cor-fonte-principal);
    text-align: center;
    margin: 5px 10px;
}

.info__detail {
    font-size: 10px;
    background-color: var(--cor-fonte-principal);
    color: var(--cor-background-principal);
    margin: 4px 0;
}


.icone__previsao--tempo{
    background-color: var(--cor-fonte-principal);
    color: var(--cor-background-principal);
    margin: 0;
    padding: 0;
    width: 130px;
}

.descricao_tempo {
    background-color: var(--cor-fonte-principal);
    color: var(--cor-background-principal); 
}

@media screen and (max-width: 780px) {
    .campo__busca {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 20px 0;
        padding: 0;
    }

    .titulo__principal {
        font-size: 20px;
        text-align: center;
    }

    .input__busca {
        font-size: 25px;
        width: 340px;
        margin-right: 0;
    }
    .botao__busca{
        margin: 10px 0;
        width: 340px;
    }

    .dados__climaticos--cidades {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .dados__cidade {
        padding: 0 60px;
    }
    .imagem__cabecalho {
        width: 60px;
    }
    
}

@media screen and (max-width:1250px) {

    .imagem__cabecalho {
        width: 100px;
    }
    
    .titulo__principal {
        font-size: 40px;
    }

    .apresentacao__projeto {
        font-size: 16px;
    }
    
    .input__busca {
        width: 350px;
    }

    .botao__busca{
        width: 180px;
    }

    .ajax__section {
        margin: 0 120px;
    }

    .dados__climaticos--cidades {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:1024px) {
    .titulo__principal {
        font-size: 30px;
    }

    .apresentacao__projeto {
        font-size: 14px;
    }

    .ajax__section {
        margin: 0 100px;
    }
}

@media screen and (max-width:700px) {
    .imagem__cabecalho {
        width: 80px;
    }
    
    .titulo__principal {
        font-size: 25px;
    }

    .apresentacao__projeto {
        font-size: 12px;
    }

    .input__busca {
        width: 300px;
    }

    .botao__busca{
        width: 120px;
        font-size: 10px;
    }

    .ajax__section {
        margin: 0 100px;
    }
}

@media screen and (max-width:500px) {
    .imagem__cabecalho {
        width: 60px;
    }
    
    .titulo__principal {
        font-size: 20px;
    }

    .apresentacao__projeto {
        font-size: 10px;
    }

    .input__busca {
        width: 250px;
    }

    .botao__busca{
        width: 120px;
        font-size: 10px;
    }

    .ajax__section {
        margin: 0 100px;
    }

    .dados__cidade {
        display: flex;
        flex-direction: column;
    }
}