:root {
    --cor-fonte-principal: #FFFFFF;
    --cor-background-principal: #091731;
    --cor-botao: #b80303;
}

*{
    background-color: var(--cor-background-principal);
    color: var(--cor-fonte-principal);
    font-family: 'arial', sans-serif;
}

.titulo__principal {
    font-size: 50px;
}

.input__busca {
    color: var(--cor-fonte-principal);
    font-size: 30px;
    box-shadow: none;
    outline: 0;
    border: 0;
    border-bottom: 1px solid var(--cor-fonte-principal);

}

.input__busca::placeholder {
    color: var(--cor-fonte-principal);
}

.botao__busca {
    background-color: var(--cor-botao);
    color: var(--cor-fonte-principal);
    border: 0;
    font-size: 20px;
    padding: 15px 15px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}

@media screen and (max-width: 780px) {
    .campo__busca {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 20px 0;
    }

    .titulo__principal {
        font-size: 30px;
        text-align: center;
    }

    .input__busca {
        font-size: 25px;
        width: 340px;
    }
    .botao__busca{
        margin: 10px 0;
        width: 340px;
    }
    
}